.water{
    background: #2ab0ed;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    z-index: 10;

    .shape{
        height: 450px;
        width: 460px;
        left: -65px;
        top: -34px;
        position: relative;
        border-radius: 280px;
        border-top-left-radius: 400px;
        border-bottom-left-radius: 350px;
        border-top-right-radius: 500px;

        &.waves{
            background: #2ab0ed;
            transform: rotate(33deg);
            animation: spin 7s linear infinite;
            animation-delay: -1.4s;
        }
    }
}

.sun{
    .shape{
        height: 100px;
        width: 100px;
        position: absolute;
        top: -30px;
        left: -30px;
        border-radius: 200px;

        &.sunlight{
            &1{
                opacity: 0.5;
                background: linear-gradient(to right, #f1e767 0%, #feb645 100%);
                transform: rotate(33deg);
                animation: spin 7s linear infinite;
                animation-delay: -1.4s;
                border-top-left-radius: 400px;
                z-index: 10;
            }
            &2{
                opacity: 0.3;
                background: linear-gradient(to bottom, #d19090 0%, #d20000 100%);
                transform: rotate(33deg);
                animation: spin 1.2s linear infinite;
                animation-delay: -1.4s;
                border-bottom-left-radius: 100px;
            }
            &3{
                opacity: 0.5;
                background: linear-gradient(to bottom, #d19090 0%, #d20000 100%);
                animation: spin 1s linear infinite;
                animation-delay: -1.4s;
                border-top-right-radius: 200px;
            }
            &4{
                opacity: 0.3;
                background: linear-gradient(to right, #f1e767 0%, #feb645 100%);
                animation: spin 1s linear infinite;
                animation-delay: -1.4s;
                border-bottom-right-radius: 400px;
            }
        }
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
